<header class="header">
  <h1>Course Details</h1>
</header>

<div class="course-container" >
  <div class="course-title">
    <span>{{ course.title }}</span>
  </div>
  <div class="course-description">
    {{ course.description }}
  </div>
  <div class="course-description">
    <p>Start date: {{ course?.startDate }}</p>
  </div>
  <div class="course-details">
    <span>Instructor: {{ course?.instructor }}</span>
    <span>Duration: {{ course.duration }}</span>
  </div>
  <button (click)="enrollCourse()" class="enroll-button">Enroll</button>
</div>
